@(model: models.user.UserCreateModel)

@import helper._
@import play.api.i18n.Lang._

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Signup - Application Licence Service</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="/assets/stylesheets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/stylesheets/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />

    <link href="/assets/stylesheets/css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">

    <link href="/assets/stylesheets/css/style.css" rel="stylesheet" type="text/css">
    <link href="/assets/stylesheets/css/pages/signin.css" rel="stylesheet" type="text/css">

</head>

<body>
<div class="navbar navbar-fixed-top">

    <div class="navbar-inner">

        <div class="container">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="index.html">
                Bootstrap Admin Template
            </a>

            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li class="">
                        <a href="login.html" class="">
                            Already have an account? Login now
                        </a>

                    </li>
                    <li class="">
                        <a href="index.html" class="">
                            <i class="icon-chevron-left"></i>
                            Back to Homepage
                        </a>

                    </li>
                </ul>

            </div><!--/.nav-collapse -->

        </div> <!-- /container -->

    </div> <!-- /navbar-inner -->

</div> <!-- /navbar -->



<div class="account-container register">
    <div class="content clearfix">
        @helper.form(action = controllers.api.web.user.routes.UserController.create) {
            <h1>Create ALS user account</h1>
            <div class="login-fields">
                <p>Please fill in data to create account:</p>
                <div class="field">
                    <label for="firstName">First Name:</label>
                    @inputText(
                    model.form("firstName"),
                    'class -> "login",
                    'placeholder            -> "First Name",
                    '_required              -> true
                    )
                </div> <!-- /field -->

                <div class="field">
                    <label for="lastName">Last Name:</label>
                    @inputText(
                    model.form("lastName"),
                    'class -> "login",
                    'placeholder            -> "Last Name",
                    '_required              -> true
                    )
                </div> <!-- /field -->


                <div class="field">
                    <label for="email">Email Address:</label>
                    @inputText(
                    model.form("email"),
                    'class -> "login",
                    'placeholder            -> "Email",
                    '_required              -> true
                    )
                </div> <!-- /field -->

                <div class="field">
                    <label for="username">Username:</label>
                    @inputText(
                    model.form("username"),
                    'class -> "login",
                    'placeholder            -> "Username",
                    '_required              -> true
                    )
                </div> <!-- /field -->

                <div class="field">
                    <label for="password">Password:</label>
                    @inputPassword(
                    model.form("password"),
                    'class -> "login",
                    'placeholder            -> "Password",
                    '_required              -> true
                    )
                </div> <!-- /field -->

            </div> <!-- /login-fields -->
            <div class="login-actions">

				<span class="login-checkbox">
					<input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
				</span>

                <button class="button btn btn-primary btn-large" type="submit">Register</button>

            </div> <!-- .actions -->
        </form>
    </div> <!-- /content -->
</div> <!-- /account-container -->

<script src="/assets/javascripts/js/jquery-1.7.2.min.js"></script>
<script src="/assets/javascripts/js/bootstrap.js"></script>

<script src="/assets/javascripts/js/signin.js"></script>

</body>
}
</html>